/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
	height: auto;
  }

*,*:before,*:after { 
    box-sizing:border-box;
}
/******************** CSS RESET ********************/

/* *{outline:1px solid red} */ 

body{
    width: 1920px;
    margin: 0 auto;
    font-size: 20px;
}

@media (max-width:1920px) {
	body{
		width: 100%; 
	}
}

@media (max-width:1200px) {
	body{
		width: 90%; 
	}
}

@media (max-width:600px) {
	body{
		width: 90%; 
	}
}


/*************************title************************/
.title{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 20px;
}
.item{
    display: flex;
}
.item li{
    margin-right: 20px;
}
.item a{
    text-decoration: none;
    color: black;
}
.icon{
    display: none; 
}
@media (max-width:600px) {
	.item{
		display: none; 
	}
    .icon{
        display: inline; 
    }

}
/*************************welcome************************/
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    font-size: 40px;
    background-color: #cff5f8;
}

/*************************content-top************************/
.content{
    width: 1200px;
    margin: 40px auto 0px auto;
}

.content-top{
    display: flex;
    justify-content: space-between;
}

.Promotion{
    height: 50px;
    display: flex;
    flex-grow: 1; /* 讓容器內空間盡可能填滿 */
}
.Promotion:not(:last-child) { /* 排除最後一個元素 */
    margin-right: 20px;
}
.Promotion img{
    width: 80px;
}
.Promotion p{
    display: flex;
    align-items: center;
    background-color: #cff5f8;
    flex-grow: 1; /* 讓容器內空間盡可能填滿 */
}

@media (max-width:1200px) {
	.content{
		width: 90%; 
	}

    .content-top{
        flex-wrap: wrap;
    }

    .Promotion:nth-child(2){ /* 選擇第二個元素 */
        margin-right: 0;
    }
    /*.Promotion:not(:first-child){  另一種寫法
        margin-right: 0;
    }*/

    .Promotion:nth-child(3){
        width: 100%;
        margin-top: 20px;
    }
}
@media (max-width:600px) {
	.Promotion{
        width: 100%;
        margin-top: 20px;
    }
    .Promotion:not(:last-child) {
        margin-right: 0px;
    }

}

/*************************content-main************************/
.content-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
.main{
    width: 183px; /*(1200-20*2)/3=386.6667;(386.6667-20)/2=183.333*/
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* 讓圖片與文字段落貼合，不會留空白 */
}

.main p{
    background-color: #cff5f8;
    text-align: center;
    padding: 10px;
}

@media (max-width:1200px) {
	.main{
        width: 24%; /*1200*0.9=1080;1080-20*3=1020;1020/4=255;255/1080=23.61%*/
	}
}

@media (max-width:600px) {
    .main{
        width: 100%;
	}
}




