<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>錯誤頁面</title>
    <link rel="stylesheet" href="../static/RESET.css" />
    <link rel="stylesheet" href="../static/frame.css" />
  </head>
  <body>
    <div class="content">
      <div class="title"><h1>失敗頁面</h1></div>
      <div class="main">
        <p>{{ message }}</p>
        <a href="/">回登入頁面</a>
      </div>
    </div>
  </body>
</html>
